---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import TrustStrip from '../components/TrustStrip.astro';
import ProblemSolution from '../components/ProblemSolution.astro';
import About from '../components/About.astro';
import Formats from '../components/Formats.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Manifesto from '../components/Manifesto.astro';
import Faq from '../components/Faq.astro';
import ContactForm from '../components/ContactForm.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main id="top">
    <Hero />
    <TrustStrip />
    <ProblemSolution />
    <About />
    <Formats />
    <HowItWorks />
    <Manifesto />
    <Faq />
    <ContactForm />
  </main>
  <Footer />
</Layout>
